/**
@import url("typography.css");
@import url("forms.css");
@import url("menu.css");
@import url("blogs.css");
@import url("pages.css");
@import url("units.css");
@import url("gallery.css");
**/
@import url("http://fonts.googleapis.com/css?family=ABeeZee");
@import url("sticky_footer.css");
@import url("menu_1.css");
@import url("units.css");

html 
{
    font-size: 100%;
}

body
{
    background-image: url('../images/subtle-pattern-body-bg.png');
    font-family:Verdana, Geneva, sans-serif;
    font-size: 0.75em;
    color:#000;
}

.container
{
    /** surpressing padding settings from 1140grid. **/
    padding-left: 0px;
    padding-right: 0px;
}

.row
{
    /*overflow: visible;*/
    /*background-color: #fff;*/
}

.vr
{
    /** vertical ruler column. Use together with 1140 grid calls onecol. **/
    /*border: 1px solid;*/
    height: 100px;
    
    background-image: url('../images/core/verticalRuler.png');
    background-repeat: repeat-y;
    background-position: center;
    
}

.shade {
    -webkit-box-shadow: 0px 0px 6px #000;
    -moz-box-shadow:    0px 0px 6px #000; 
    box-shadow:         0px 0px 6px #000;
    /**/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#_header {
    /*
     * We need to wrap the navigation into a div for holding it inside the 1140grid
     * and then surpress the overflow: hidden from .row definition.
     */
    overflow: visible;
    /*
     * Images counts 250px
     * menu counts 37x;
     * something obvious does not match..
     */
    height: 291px;
    /*
    -webkit-box-shadow: 2px 3px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 3px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 3px 5px rgba(50, 50, 50, 0.5);
    */
    /**/
}

#_header img{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    /*height: 287px;  */
}

.site-title,
.site-description {
    font-family: 'ABeeZee', sans-serif;
}

.site-title {
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 3em;
}

.site-description {
    font-size: 2.2em;
}

.site-title a {
    color: #000;
    text-decoration: none;
}

.seperator {
    border: 0;
    height: 1px;
    width: 85%;
    margin-right: 5px;
    float: right;
    
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.2)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.2)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.2)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.2)); 
}

.buffer {
    height: 15px;
}

#secondary {
    /*container for sidebar*/
}


.widget,
.site-content{
    
    background-image: url('../images/subtle-pattern-body-bg.png');
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 6px #888;
    -moz-box-shadow:    0px 0px 6px #888; 
    box-shadow:         0px 0px 6px #888;
    /**/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#_navigation {
    /*
     * We need to wrap the navigation into a div for holding it inside the 1140grid
     * and then surpress the overflow: hidden from .row definition.
     */
    overflow: visible;
}

.site-navigation {
    
}
#_main
{
    /*
    height: 100%;
    min-height: 100%;
    */
    margin: 0px auto;
    margin-top: 10px;
    /** CHANGE FOOTER HEIGHT HERE **/
    padding-bottom: 90px;
    /*
    border: 1px solid green;
    */
}

.site-main {
    
}

#main {
    /*
    border: 1px solid red;
    */
}

#content
{
    /*border: 1px solid #00d;*/
}

.entry-title, 
.widget-title {
    font-family: 'ABeeZee', sans-serif;
    font-size: 2.0em;
}

#image_slider {
    height: 600px;
    border: 1px solid green;
}

#_footer
{
    /*border: 1px solid yellow;    */
}

#_footer-placeholder {
    /** SCOUT LOGO **/
    background-image: url("../images/logo_outline.png");
    background-position: top center;
    background-repeat: no-repeat;
    
    /** CHANGE FOOTER HEIGHT HERE **/
    padding-top: 30px;
    /** CHANGE FOOTER HEIGHT HERE **/
    height: 70px;
    /** CHANGE FOOTER HEIGHT HERE **/
    margin-top: -100px;
}

#_footer-element {
    /*background-color: #000;*/
    text-align: center;
    color: #000;  
    line-height: 2.5em;
    /**
     * @todo: vertical align text
     */

    /** CHANGE FOOTER HEIGHT HERE **/
    /** USE MARGIN NOT PADDING - MOVES DIV 40PIXELS DOWN **/
    margin-top: 40px;
    height: 30px; 
}

#_footer-text {

}
