/**
 * CSS FOR STYLING UNIT PAGES
 */

.unit_list_item
{
    /*width: 500px;*/
    /*width: 100%;*/

    /*margin-left: 5px;*/
    padding-bottom: 10px;
    /*border: 1px solid magenta;*/
}

.unit_list_item_logo
{
    /*clear: both;*/
    float: left;
    width: 155px;
    height: 100px;
    margin-right: 10px;
    /*border: 1px solid red;*/
}

.unit_list_item_data
{
    /*width: 500px;*/
    float: left;
    height: 100px;
    /*border: 1px solid grey;*/
}

.unit_list_item_data_wrapper {
    /*width: 100%;*/
    clear: both;
    float: left;
    /*border: 1px solid yellow;*/
}

.unit_list_item_data_item
{
    clear: both;
    float: left;
    width:100px;
    /*border: 1px solid blue;*/
}

.unit_list_item_data_value
{
    float: right;
    /*border: 1px solid green;*/
}



.unit_list span
{
    font-size: 120%;
    font-weight: bold;
}

.unit_list_logo_small
{
    height: 100px;
    /*width: 66%;*/
    border: 1px solid red;
    float: left;
    margin-right: 10px;
}

.unit_description 
{
    float: left;
    width: 100%;
}